.login-background{
   
    background: linear-gradient(135deg,rgba(34,193,195,1) 0%,rgba(253,187,45,1) 100%);
    height: 100vh;
}
.login-background .login-container{
    width: 400px;
    height: 450px;
    background-color: #DCCCC9;
  
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    
}

.login-content{
    padding: 10px;
}

.text-center{
    text-align: center;

}

.title{
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.form-group{
    font-size: 20px;
    text-align: center;
}
.fiel_input{
    margin-bottom: 20px;
}
.fiel_input label{
   margin-right: 10px;
}

.fiel_input input.form-control{
   color: black;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   font-size: 18px;
   border: 1px solid rgba(51, 51, 51, 0.534);
   padding: 3px;
}
.btn-button{
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
    margin: 20px 0;
  }
.btn-button:hover{
    opacity: 0.8;
  }
  
  .network{
    margin: 20px 0;
  }

  .network p:first-child{
    font-size: 15px;
    margin-bottom: 10px;
  }