.news-container{
    margin: 8% 0;
    padding: 0 15%;
}

.news-container .news h1, .news-container .coupons h1{
    text-align: center;
    font-size: 40px;
}
.news-container .news{
    margin-bottom: 5%;
}