.container{
    margin: 5% 0;
    padding: 3%; 
}
.filter-left{
    display: flex;
    justify-content: space-around;
}

.filter-left select , .filter-right select{
    width: 80px;
    font-size: 19px;
    border: 1px solid #333;
    height: 30px;
}
.filter-right select{
    width: 150px;
}