.introduct{
    margin: 10% 0;
}

.introduct .introduct-top{
    padding: 0 5%;
}
.introduct .introduct-top p{
    margin-left: 3% ;
}
.introduct-content{
    margin-top: 9%;
    padding: 0 15%;
    text-align: center;
    
}
.introduct-content h3{
    font-weight: 500;
    font-size: 30px;
}
.introduct-content .about-us{
    margin-bottom: 8%;
}
.introduct-content .about-us, .introduct-content .mission {
   padding: 5px 5%;
   font-size: 18px;
}